<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:adnroid="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aclass.edx.helloworld">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.GetNameActivity" />
        <activity
            android:name=".activities.DashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.ContentListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.VideoPlayerActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activities.ContentListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ContentListActivity" />
        </activity>
        <activity android:name=".AudioRecorderActivity" />
        <activity
            android:name=".activities.AudioPlayerActivity"
            android:parentActivityName=".activities.ContentListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AudioPlayerActivity" />
        </activity>
        <activity
            android:name=".activities.InterviewActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name=".data.provider.AppContentProvider"
            android:authorities="com.aclass.edx.helloworld" />

    </application>

</manifest>